@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-link {
  margin-left: 20px;
}
.navbar {
  background-image: linear-gradient(to right, #a517ba, #510e72);
  padding: 0 !important;
}
.navbar-brand img {
  height: 40px;
  padding-left: 20px;
}
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
}
.navbar-nav a {
  color: white !important;
  font-weight: 600;
}
.menu-btn {
  display: flex;
  align-items: center;
  color: white;
  font-size: 25px;
}

/* ---------- Banner Section  ---------  */

#banner {
  background-image: linear-gradient(to right, #a517ba, #510e72);
  padding-top: 5%;
  color: white;
}
.promo-title {
  font-size: 30px;
  font-weight: 600;
  margin-top: 100px;
}
.play-btn {
  width: 45px;
  margin: 20px;
}
#banner a {
  color: white;
  text-decoration: none;
}
.bottom-img {
  width: 100%;
}

/* -------- Services section --------- */

#services {
  padding: 60px 0;
}
.title {
  font-weight: 700;
  font-size: 26px;
}
.title::before {
  content: "";
  background-color: #7b1798;
  height: 5px;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(40px);
}
.title::after {
  content: "";
  background-color: #7b1798;
  height: 10px;
  width: 34px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(1px);
  border-radius: 20px;
}
.services {
  padding: 20px;
}
.service-img {
  width: 100px;
  margin-top: 20px;
}
.services h4 {
  margin: 20px 0;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.services p {
  font-size: 14px;
  font-weight: 300;
}
#services .btn-primary {
  background-image: linear-gradient(to right, #a517ba, #510e72);
  padding: 8px 25px;
  border: none;
  box-shadow: none;
  border-radius: 20px;
}

/* ---------- About Section --------- */

#about-us {
  background-color: #f8f9fa;
  padding: 50px 0;
}
#about-us ul li {
  margin: 10px 0;
}
#about-us ul {
  margin-left: 0;
}

.about-title {
  font-size: 35px;
  font-weight: 600;
  margin-top: 5%;
  margin-left: 12px;
}
/*-------- Testimonials Section --------- */

#testimonials {
  margin: 60px 0;
}
.row .testimonials {
  border-left: 1px solid #7b1798;
  margin-top: 50px;
}
.testimonials p {
  font-size: 14px;
}
.testimonials img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 20px;
}
.user-details {
  display: inline-block;
  font-size: 12px;
}

/* ----- Social Media Section */

#social-media{
    background-color: #f8f9fa;
    padding: 60px 0;
}
#social-media p{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img{
    width: 50px;
    transition: all 0.5s;
}
.social-icons a:hover img{
    transform: scale(1.1);
}

/*-------- Footer Section -------- */
#footer{
    background-image: linear-gradient(to right, #a517ba, #510e72);
    color: white;  
}
.footer-img{
width: 100%;
}
.footer-box {
    padding: 20px;
}
.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}
.footer-box .footer-left{
    font-size: 13px;
}
.footer-box p>i{
    margin-right: 15px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 4px;
    background-image: linear-gradient(to right, #a517ba, #510e72);
}
.footer-box .form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #a517ba, #510e72);
}
hr{
    background-color: white;
}
.copyright{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}


/*-------- Media querry ----------*/

@media (max-width: 991px) {
  .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0%;
  }
  .navbar .navbar-toggler{
    border: none !important;
  }
  .navbar .navbar-toggler:hover{
    border: none !important;
    outline: none !important;
  }
}
